vendor/
web/bundles/
docs/*
app/cache/*
app/logs/*
build/repositories/*
build/docs/*
design/borg/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!build/repositories/.gitkeep
!build/docs/.gitkeep
!docs/.gitkeep
app/bootstrap.php.cache
app/config/parameters.yml
phpunit.xml
