vendor/
web/bundles/
extensions/*
docs/*
app/cache/*
app/logs/*
build/repositories/*
build/docs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!extensions/.gitkeep
!build/repositories/.gitkeep
!build/docs/.gitkeep
!docs/.gitkeep
app/bootstrap.php.cache
app/config/parameters.yml
phpunit.xml
