# This file is a "template" of what your parameters.yml file should look like
parameters:
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # GitHub token. Default is `SYMFONY__GITHUB__TOKEN` environment variable
    github_token:      %github.token%

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
