{% extends '::layout.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block page %}
    <section class="extensions">
        {% for extension in extensions %}
            <div class="extension">
                {{ extension }}
            </div>
        {% endfor %}
    </section>
{% endblock %}
